<read>
    <link rel="stylesheet" href="../../public/css/home.css">
</read>

<div class="container">
    <h1>Padaria Boitatá</h1>
    <p class="lead">Pães frescos e deliciosos, todos os dias</p>
    <div class="btn-container">
        <a href="/pedidos" class="btn">Realizar Pedido</a>
    </div>
</div>

<section class="py-5" id="about">
    <div class="container text-center">
        <h2>Sobre Nós</h2>
        <p class="lead">A Padaria Boitatá é dedicada a oferecer os pães mais frescos e saborosos da região. Utilizamos ingredientes de alta qualidade e receitas tradicionais para garantir a melhor experiência gastronômica.</p>
        <div class="row">
            <div class="col-md-6">
                <img src="../public/img/padaria.webp" alt="Interior da Padaria" class="img-fluid rounded mb-3">
            </div>
            <div class="col-md-6">
                <p>Estamos localizados no coração da cidade, proporcionando um ambiente acolhedor e amigável para nossos clientes. Nossa equipe é apaixonada por panificação e se dedica a trazer o melhor sabor para sua mesa.</p>
            </div>
        </div>
    </div>
</section>

<section class="bg-light py-5" id="products">
    <div class="container text-center">
        <h2>Nossos Produtos</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="../public/img/Tradicional.jpg" class="card-img-top" alt="Pão Tradicional">
                    <div class="card-body">
                        <h5 class="card-title">Pão Tradicional</h5>
                        <p class="card-text">Nosso clássico pão de massa branca, perfeito para qualquer ocasião.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../public/img/Integral.jpg" class="card-img-top" alt="Pão Integral">
                    <div class="card-body">
                        <h5 class="card-title">Pão Integral</h5>
                        <p class="card-text">Feito com grãos integrais, ideal para uma alimentação saudável.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../public/img/Queijo.webp" class="card-img-top" alt="Pão de Queijo">
                    <div class="card-body">
                        <h5 class="card-title">Pão de Queijo</h5>
                        <p class="card-text">O irresistível pão de queijo, crocante por fora e macio por dentro.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5" id="contact">
    <div class="container text-center">
        <h2>Contato</h2>
        <p class="lead">Visite-nos ou entre em contato para saber mais sobre nossos produtos.</p>
        <p>Endereço: Rua da Padaria, 123, Bairro das Delícias</p>
        <p>Telefone: (11) 1234-5678</p>
        <p>Email: contato@padariaboitata.com.br</p>
    </div>
</section>
